.headerBackground {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #6ad633; 
    margin-right: auto;
}


.category {
    margin: 0 20px; 
    color: rgb(0, 0, 0);
    text-decoration: none; 
    cursor: pointer;
    border: none; 
    display: inline-block;
    text-align: center;
}

.category:hover,
.category:focus,
.category:active {
    text-decoration: none; 
}

.cartImg {
    height: 50px;
    width: 50px;
}
