.headerBackground{

    background-color: #6ad633;
    width: 100%;
    height: 100px;

}

.category{

    margin-left: 100px;
    margin-right: 40px;
    text-align: left;
    margin-top: 30px;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.Logo{

    text-align: left;
}

.cartImg{

    height: 50px;
    width: 50px;
    display: inline-block;
    

}